<h1>Ruby eBook</h1>
<h3>The Ultimate Guide to Ruby Programming</h3>
<p class="float-left"><a
href="http://rubylearning.com/download/downloads.html"
title="Ruby eBook - US$ 9.95 only"><img
src="http://rubylearning.com/images/eBook5.jpg" alt="Ruby
eBook" /></a></p>
<p>Already <a
href="http://rubylearning.com/other/testimonials.html">2000
0+</a> would-be Ruby programmers have downloaded the Ruby
eBook from <a
href="http://rubylearning.com/download/downloads.html"
>here</a>.</p>
